<launch>

    <arg name="path" default="$(find slam_bags)" />
    <arg name="file" default="2017-10-09-15-30-40.bag"/>

    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg path)/$(arg file)"/>

  <group ns="rtabmap">

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="odom"/>
          <param name="subscribe_depth" type="bool" value="true"/>
          <param name="subscribe_scan" type="bool" value="false"/>

          <remap from="odom" to="/bebop/odom"/>
          <remap from="rgb/image" to="/bebop/image_raw"/>
          <remap from="depth/image" to="/bebop/image_raw"/>
          <remap from="rgb/camera_info" to="/bebop/camera_info"/>

          <param name="queue_size" type="int" value="10"/>

          <!-- RTAB-Map's parameters -->

          <param name="RGBD/Enabled" type="string" value="false"/>
          <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
          <param name="Rtabmap/TimeThr" type="string" value="700"/>
          <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
          <param name="Grid/FromDepth" type="string" value="true"/>
          <param name="Grid/CellSize" type="string" value="0.01"/>

		  <remap from="proj_map" to="/map"/>

    </node>

    <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" output="screen">
		<param name="frame_id" type="string" value="odom"/>
		<remap from="rgb/image" to="/bebop/image_raw"/>
		<param name="rgb/image_transport" type="string" value="compressed"/>
		<param name="subscribe_odom_info"    type="bool" value="true"/>
	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rtabmap_test)/rviz/nav.rviz"/>

  </group>
</launch>